// ==========================================================================
// ESTILOS BASE / RESET
// ==========================================================================

@use "../utilities/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: $font-principal;
    font-size: 16px;
    background: $color-bg;
    color: $color-texto;
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
